*{
    margin: 0;
    padding: 0;
  
    
}
/* .container{
    height: 20000px;
} */
/* nav */
.nav{
    width: 100%;
    min-height: 42px;
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    
    
}
.nav-list{
    padding-left: 0;
    margin: 0 16px;
   

}
.nav-item{
    list-style: none;
   
    margin: 8px;
    color: #fff;
    display: inline-block;
}
/* form-layout */
.form-layout{
    
    max-width: 720px;
    padding: 32px;
    margin: 80px auto 0 auto;
    background-color: grey;
   
}

.form__row{
    padding: 8px 0;
    display: flex;
}
.form__label{
    min-width: 120px;

}
.form__input{
    flex: 1;
}
/* form__column */
.column-layout{
    margin-top: 32px;
    padding: 16px 0;
    background-color: gray; 
    display: flex;                               
}
.column-item{
    padding: 0 16px;
    flex: 1;

}
.sidebar__one{
    flex: 1;
    order: 1;
}
.sidebar__two{
    flex: 1;
    order: 2;
}
.column{
    flex: 3;
    order: 3;
}
/* feature_layout */
.feature-layout{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
/* PC,Tablet */
@media(min-width: 740px){
    .feature-layout{
        flex-direction: row;
    }
}
.feature-item{
    padding: 16px 10px;
    margin-top: 10px;
    flex-basis: 30%;
    
}
.feature-item:nth-child(1){
    background-color: rgb(197, 272,0.5);
}
.feature-item:nth-child(2){
    background-color: rgb(197,150,0.8);
}
.feature-item:nth-child(3){
    background-color: rgb(197, 100,1);
}
/* page */
.page{
    margin-top: 32px;
    display: flex;
    padding: 12px 0px 32px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.page-item{
    width: 148px;
    height: 90px;
    background-color: red;
    color: #fff;
    margin: auto;
    text-align: center;
    line-height: 90px;
    margin-top: 20px;
    font-size: 48px;


}
/* aline-center */
.aline-center{
    margin-top: 32px;
    width: 800px;
   margin: auto;
    height: 500px;
    display: flex;
    background-color: rgb(121, 152, 161);
}
.aline-center__item{
    color: seashell;
  
    margin: auto;
}
/* chart-layout */
.chart-layout{
    margin: 32 auto 0 auto;
    padding: 32px 0;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.chart-layout__item{
    width: 60px;
    height: var(--percent);
    background-color: orangered;
    color: #fff;
    text-align: center;
    animation: growth ease-in 0.5s;
}
@keyframes growth{
    from{
        opacity: 0;
        height: calc(var(--percent)-50%);
    }
    to{
        opacity: 1;
        height: var(--percent);
    }
}
/* the-end */
.the-end{
    margin-top: 32px;
    margin: auto;
    max-width: 740px;
    min-height: 360;
    
    
    display: flex;
}
.the-end__first{
    padding: 10px 20px;
 
    background-color: rgb(155, 199, 135);
    flex: 1;
    
}
.the-end__second{
    padding: 10px 20px;
  
    background-color: rgb(121, 152, 161);
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.item{
    margin-bottom: 10px;
    
}

